<section ng-controller="mainController">

  <h1>{{person.fname}}</h1>
  <h1>{{person.lname}}</h1>

  <h1><%= @current_user[:full_name] %></h1>
  <h1><%= @current_user[:username] %></h1>
  <h1><%= @current_user[:country] %></h1>
  <h1><%= @current_user[:city] %></h1>
  <img class="thumbnail" src="<%= @current_user[:avatar_url] %>" alt="" />
  
</section>
